In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_technology_companies_by_revenue#2021_list'

page = requests.get(url)

soup = BeautifulSoup(page.text , 'html')

In [ ]:
table = soup.find_all('table')[1]
label = table.find_all('th')
title = [i.text.strip() for i in label]
df = pd.DataFrame(columns = title)

In [ ]:
label = table.find_all('th')

In [ ]:
label

[<th>Rank
 </th>,
 <th colspan="2">Company
 </th>,
 <th>Revenue ($B) USD<sup class="reference" id="cite_ref-:1_2-1"><a href="#cite_note-:1-2">[2]</a></sup>
 </th>,
 <th>Employees<sup class="reference" id="cite_ref-:1_2-2"><a href="#cite_note-:1-2">[2]</a></sup>
 </th>,
 <th>Revenue per employee ($K USD)<sup class="reference" id="cite_ref-:1_2-3"><a href="#cite_note-:1-2">[2]</a></sup>
 </th>,
 <th>Headquarters
 </th>]

In [ ]:
title = [i.text.strip() for i in label]

In [ ]:
title

['Rank',
 'Company',
 'Revenue ($B) USD[2]',
 'Employees[2]',
 'Revenue per employee ($K USD)[2]',
 'Headquarters']

In [ ]:
df = pd.DataFrame(columns = title)
df

Empty DataFrame
Columns: [Rank, Company, Revenue ($B) USD[2], Employees[2], Revenue per employee ($K USD)[2], Headquarters]
Index: []

In [ ]:
data = table.find_all('tr')
[i.text.strip() for i in data]

['Rank\n\nCompany\n\nRevenue ($B) USD[2]\n\nEmployees[2]\n\nRevenue per employee ($K USD)[2]\n\nHeadquarters',
 '1\n\nApple\n$383.93\n147,000\n1867.44897\nCupertino, California, US',
 '2\n\nSamsung Electronics\n$200.734\n267,937\n749.18357\nSuwon, South Korea',
 '3\n\nAlphabet\n$182.527\n135,301\n1349.04398\nMountain View, California, US',
 '4\n\nFoxconn\n$181.945\n878,429\n207.12544\n\nNew Taipei City, Taiwan',
 '5\n\nMicrosoft\n$143.015\n163,000\n877.39263\nRedmond, Washington, US',
 '6\n\nHuawei\n$129.184\n197,000\n655.75634\nShenzhen, China',
 '7\n\nDell Technologies\n$92.224\n158,000\n583.6962\nRound Rock, Texas, US',
 '8\n\nMeta\n$85.965\n58,604\n1466.87939\nMenlo Park, California, US',
 '9\n\nSony\n$84.893\n109,700\n773.86508\nTokyo, Japan',
 '10\n\nHitachi\n$82.345\n350,864\n234.69207\nTokyo, Japan',
 '11\n\nIntel\n$77.867\n110,600\n704.04159\nSanta Clara, California, US',
 '12\n\nIBM\n$73.620\n364,800\n201.80921\nArmonk, New York, US',
 '13\n\nTencent\n$69.864\n85,858\n813.71567\nShenzhen, China',
 '14\n\nPanasonic\n$63.191\n243,540\n259.46867\nOsaka, Japan',
 '15\n\nLenovo\n$60.742\n71,500\n849.53846\nHong Kong, China[4]',
 '16\n\nHP Inc.\n$56.639\n53,000\n1068.66037\nPalo Alto, California, US',
 '17\n\nLG Electronics\n$53.625\n75,000\n715.00000\nSeoul, South Korea']

In [ ]:
for row in data[1:]:
  row_data = row.find_all('td')
  values = [val.text.strip() for val in row_data]
  value = values[:1] + values[2:]
  #print(value)
  length = len(df)
  df.loc[length] = value

In [ ]:
#df['year'] = 2021

In [ ]:
df.rename(columns = {
    'Revenue ($B) USD[2]':'Revenue' ,
    "Employees[2]" : "Employees" ,
    "Revenue per employee ($K USD)[2]" : "Revenue per employee"
    }, inplace = True)

In [ ]:
df

,Rank,Company,Revenue,Employees,Revenue per employee,Headquarters
0,1,Apple,$383.93,"147,000",1867.44897,"Cupertino, California, US"
1,2,Samsung Electronics,$200.734,"267,937",749.18357,"Suwon, South Korea"
2,3,Alphabet,$182.527,"135,301",1349.04398,"Mountain View, California, US"
3,4,Foxconn,$181.945,"878,429",207.12544,"New Taipei City, Taiwan"
4,5,Microsoft,$143.015,"163,000",877.39263,"Redmond, Washington, US"
5,6,Huawei,$129.184,"197,000",655.75634,"Shenzhen, China"
6,7,Dell Technologies,$92.224,"158,000",583.6962,"Round Rock, Texas, US"
7,8,Meta,$85.965,"58,604",1466.87939,"Menlo Park, California, US"
8,9,Sony,$84.893,"109,700",773.86508,"Tokyo, Japan"
9,10,Hitachi,$82.345,"350,864",234.69207,"Tokyo, Japan"
10,11,Intel,$77.867,"110,600",704.04159,"Santa Clara, California, US"
11,12,IBM,$73.620,"364,800",201.80921,"Armonk, New York, US"
12,13,Tencent,$69.864,"85,858",813.71567,"Shenzhen, China"
13,14,Panasonic,$63.191,"243,540",259.46867,"Osaka, Japan"
14,15,Lenovo,$60.742,"71,500",849.53846,"Hong Kong, China[4]"
15,16,HP Inc.,$56.639,"53,000",1068.66037,"Palo Alto, California, US"
16,17,LG Electronics,$53.625,"75,000",715.00000,"Seoul, South Korea"

In [ ]:
table2 = soup.find_all('table')[2]

label2 = table2.find_all('th')

title2 = [i.text.strip() for i in label2]

df2 = pd.DataFrame(columns = title2)

data = table2.find_all('tr')

for row in data[1:]:
  row_data = row.find_all('td')
  values = [val.text.strip() for val in row_data]
  value = values[:1] + values[2:]
  #print(value)
  length = len(df2)
  df2.loc[length] = value

In [ ]:
df2['year'] = 2020

In [ ]:
df2.rename(columns = {'Revenue ($B) USD[6]':'Revenue' , "Employees[6]" : "Employees" , "Revenue per employee ($K USD)[6]" : "Revenue per employee"}, inplace = True)

In [ ]:
table3 = soup.find_all('table')[3]

label3 = table3.find_all('th')

title3 = [i.text.strip() for i in label3]

df3 = pd.DataFrame(columns = title3)

data = table3.find_all('tr')

for row in data[1:]:
  row_data = row.find_all('td')
  values = [val.text.strip() for val in row_data]
  value = values[:1] + values[2:]
  #print(value)
  length = len(df3)
  df3.loc[length] = value

In [ ]:
df3['year'] = 2019
df3.rename(columns = {'Revenue ($B) USD[8]':'Revenue' , "Employees[8]" : "Employees" , "Revenue per employee ($K USD)[8]" : "Revenue per employee"}, inplace = True)

In [ ]:
combined_df = pd.concat([df,df2,df3])
combined_df

,Rank,Company,Revenue,Employees,Revenue per employee,Headquarters,year
0,1,Apple,$383.93,"147,000",1867.44897,"Cupertino, California, US",2021
1,2,Samsung Electronics,$200.734,"267,937",749.18357,"Suwon, South Korea",2021
2,3,Alphabet,$182.527,"135,301",1349.04398,"Mountain View, California, US",2021
3,4,Foxconn,$181.945,"878,429",207.12544,"New Taipei City, Taiwan",2021
4,5,Microsoft,$143.015,"163,000",877.39263,"Redmond, Washington, US",2021
5,6,Huawei,$129.184,"197,000",655.75634,"Shenzhen, China",2021
6,7,Dell Technologies,$92.224,"158,000",583.6962,"Round Rock, Texas, US",2021
7,8,Meta,$85.965,"58,604",1466.87939,"Menlo Park, California, US",2021
8,9,Sony,$84.893,"109,700",773.86508,"Tokyo, Japan",2021
9,10,Hitachi,$82.345,"350,864",234.69207,"Tokyo, Japan",2021
10,11,Intel,$77.867,"110,600",704.04159,"Santa Clara, California, US",2021
11,12,IBM,$73.620,"364,800",201.80921,"Armonk, New York, US",2021
12,13,Tencent,$69.864,"85,858",813.71567,"Shenzhen, China",2021
13,14,Panasonic,$63.191,"243,540",259.46867,"Osaka, Japan",2021
14,15,Lenovo,$60.742,"71,500",849.53846,"Hong Kong, China[4]",2021
15,16,HP Inc.,$56.639,"53,000",1068.66037,"Palo Alto, California, US",2021
16,17,LG Electronics,$53.625,"75,000",715.00000,"Seoul, South Korea",2021
0,1,Apple,$260.174,"137,000",1899.08029,"Cupertino, California, US",2020
1,2,Samsung Electronics,$197.705,"287,439",687.8155,"Suwon, South Korea",2020
2,3,Foxconn,$178.869,"757,404",236.16062,"New Taipei City, Taiwan",2020
3,4,Alphabet,$161.857,"118,899",1361.29824,"Mountain View, California, US",2020
4,5,Microsoft,$125.843,"144,000",873.90972,"Redmond, Washington, US",2020
5,6,Huawei,$124.316,"194,000",640.80412,"Shenzhen, China",2020
6,7,Dell Technologies,$92.154,"165,000",558.50909,"Round Rock, Texas, US",2020
7,8,Hitachi,$80.639,"301,056",267.85382,"Tokyo, Japan",2020
8,9,IBM,$77.147,"383,056",201.39875,"Armonk, New York, US",2020
9,10,Sony,$75.972,"111,700",680.14324,"Tokyo, Japan",2020
10,11,Intel,$71.965,"110,800",649.50361,"Santa Clara, California, US",2020
11,12,Meta(Facebook),$70.697,"44,942",1573.07195,"Menlo Park, California, US",2020
12,13,Panasonic,$68.897,"259,385",265.61674,"Osaka, Japan",2020
13,14,HP Inc.,$58.756,"56,000",1049.21428,"Palo Alto, California, US",2020
14,15,Tencent,$54.613,"62,885",868.45829,"Shenzhen, China",2020
15,16,LG Electronics,$53.464,"74,000",722.48648,"Seoul, South Korea",2020
16,17,Cisco,$51.904,"75,900",683.84716,"San Jose, California, US",2020
17,18,Lenovo,$50.716,"63,000",805.01587,"Hong Kong, China[4]",2020
0,1,Apple,$265.595,"132,000",$2012.08333,"Cupertino, California, US",2019
1,2,Samsung Electronics,$197.700,"309,630",$638.50402,"Suwon, South Korea",2019
2,3,Foxconn,$175.617,"667,680",$263.0257,"New Taipei City, Taiwan",2019
3,4,Alphabet,$136.819,"98,771",$1385.21428,"Mountain View, California, US",2019
4,5,Microsoft,$110.360,"131,000",$842.44274,"Redmond, Washington, US",2019
5,6,Huawei,$109.030,"188,000",$579.9468,"Shenzhen, China",2019
6,7,Dell Technologies,$90.621,"157,000",$577.20382,"Round Rock, Texas, US",2019
7,8,Hitachi,$85.507,"295,941",$288.93259,"Tokyo, Japan",2019
8,9,IBM,$79.591,"381,100",$208.84544,"Armonk, New York, US",2019
9,10,Sony,$78.157,"114,400",$683.19055,"Tokyo, Japan",2019
10,11,Panasonic,$72.178,"271,869",$265.48815,"Osaka, Japan",2019
11,12,Intel,$70.848,"107,400",$659.6648,"Santa Clara, California, US",2019
12,13,HP Inc.,$58.472,"55,000",$1063.12727,"Palo Alto, California, US",2019
13,14,Meta(Facebook),$55.838,"35,587",$1569.05611,"Menlo Park, California, US",2019
14,15,LG Electronics,$55.757,"72,600",$768.00275,"Seoul, South Korea",2019
15,16,Lenovo,$51.037,"57,000",$895.38596,"Hong Kong, China[4]",2019

In [ ]:
combined_df['Revenue'] = combined_df['Revenue'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [ ]:
combined_df['Revenue per employee'] =  combined_df['Revenue per employee'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [ ]:
combined_df['year'] = pd.to_datetime(combined_df['year']).dt.year

In [ ]:
combined_df['Company'] = combined_df['Company'].replace({'Meta(Facebook)' : 'Meta'})

In [ ]:
combined_df

,Rank,Company,Revenue,Employees,Revenue per employee,Headquarters,year
0,1,Apple,383.930,"147,000",1867.44897,"Cupertino, California, US",2021
1,2,Samsung Electronics,200.734,"267,937",749.18357,"Suwon, South Korea",2021
2,3,Alphabet,182.527,"135,301",1349.04398,"Mountain View, California, US",2021
3,4,Foxconn,181.945,"878,429",207.12544,"New Taipei City, Taiwan",2021
4,5,Microsoft,143.015,"163,000",877.39263,"Redmond, Washington, US",2021
5,6,Huawei,129.184,"197,000",655.75634,"Shenzhen, China",2021
6,7,Dell Technologies,92.224,"158,000",583.69620,"Round Rock, Texas, US",2021
7,8,Meta,85.965,"58,604",1466.87939,"Menlo Park, California, US",2021
8,9,Sony,84.893,"109,700",773.86508,"Tokyo, Japan",2021
9,10,Hitachi,82.345,"350,864",234.69207,"Tokyo, Japan",2021
10,11,Intel,77.867,"110,600",704.04159,"Santa Clara, California, US",2021
11,12,IBM,73.620,"364,800",201.80921,"Armonk, New York, US",2021
12,13,Tencent,69.864,"85,858",813.71567,"Shenzhen, China",2021
13,14,Panasonic,63.191,"243,540",259.46867,"Osaka, Japan",2021
14,15,Lenovo,60.742,"71,500",849.53846,"Hong Kong, China[4]",2021
15,16,HP Inc.,56.639,"53,000",1068.66037,"Palo Alto, California, US",2021
16,17,LG Electronics,53.625,"75,000",715.00000,"Seoul, South Korea",2021
0,1,Apple,260.174,"137,000",1899.08029,"Cupertino, California, US",2020
1,2,Samsung Electronics,197.705,"287,439",687.81550,"Suwon, South Korea",2020
2,3,Foxconn,178.869,"757,404",236.16062,"New Taipei City, Taiwan",2020
3,4,Alphabet,161.857,"118,899",1361.29824,"Mountain View, California, US",2020
4,5,Microsoft,125.843,"144,000",873.90972,"Redmond, Washington, US",2020
5,6,Huawei,124.316,"194,000",640.80412,"Shenzhen, China",2020
6,7,Dell Technologies,92.154,"165,000",558.50909,"Round Rock, Texas, US",2020
7,8,Hitachi,80.639,"301,056",267.85382,"Tokyo, Japan",2020
8,9,IBM,77.147,"383,056",201.39875,"Armonk, New York, US",2020
9,10,Sony,75.972,"111,700",680.14324,"Tokyo, Japan",2020
10,11,Intel,71.965,"110,800",649.50361,"Santa Clara, California, US",2020
11,12,Meta,70.697,"44,942",1573.07195,"Menlo Park, California, US",2020
12,13,Panasonic,68.897,"259,385",265.61674,"Osaka, Japan",2020
13,14,HP Inc.,58.756,"56,000",1049.21428,"Palo Alto, California, US",2020
14,15,Tencent,54.613,"62,885",868.45829,"Shenzhen, China",2020
15,16,LG Electronics,53.464,"74,000",722.48648,"Seoul, South Korea",2020
16,17,Cisco,51.904,"75,900",683.84716,"San Jose, California, US",2020
17,18,Lenovo,50.716,"63,000",805.01587,"Hong Kong, China[4]",2020
0,1,Apple,265.595,"132,000",2012.08333,"Cupertino, California, US",2019
1,2,Samsung Electronics,197.700,"309,630",638.50402,"Suwon, South Korea",2019
2,3,Foxconn,175.617,"667,680",263.02570,"New Taipei City, Taiwan",2019
3,4,Alphabet,136.819,"98,771",1385.21428,"Mountain View, California, US",2019
4,5,Microsoft,110.360,"131,000",842.44274,"Redmond, Washington, US",2019
5,6,Huawei,109.030,"188,000",579.94680,"Shenzhen, China",2019
6,7,Dell Technologies,90.621,"157,000",577.20382,"Round Rock, Texas, US",2019
7,8,Hitachi,85.507,"295,941",288.93259,"Tokyo, Japan",2019
8,9,IBM,79.591,"381,100",208.84544,"Armonk, New York, US",2019
9,10,Sony,78.157,"114,400",683.19055,"Tokyo, Japan",2019
10,11,Panasonic,72.178,"271,869",265.48815,"Osaka, Japan",2019
11,12,Intel,70.848,"107,400",659.66480,"Santa Clara, California, US",2019
12,13,HP Inc.,58.472,"55,000",1063.12727,"Palo Alto, California, US",2019
13,14,Meta,55.838,"35,587",1569.05611,"Menlo Park, California, US",2019
14,15,LG Electronics,55.757,"72,600",768.00275,"Seoul, South Korea",2019
15,16,Lenovo,51.037,"57,000",895.38596,"Hong Kong, China[4]",2019

In [ ]:
data = pd.DataFrame(combined_df)
data

,Rank,Company,Revenue,Employees,Revenue per employee,Headquarters,year
0,1,Apple,383.930,"147,000",1867.44897,"Cupertino, California, US",2021
1,2,Samsung Electronics,200.734,"267,937",749.18357,"Suwon, South Korea",2021
2,3,Alphabet,182.527,"135,301",1349.04398,"Mountain View, California, US",2021
3,4,Foxconn,181.945,"878,429",207.12544,"New Taipei City, Taiwan",2021
4,5,Microsoft,143.015,"163,000",877.39263,"Redmond, Washington, US",2021
5,6,Huawei,129.184,"197,000",655.75634,"Shenzhen, China",2021
6,7,Dell Technologies,92.224,"158,000",583.69620,"Round Rock, Texas, US",2021
7,8,Meta,85.965,"58,604",1466.87939,"Menlo Park, California, US",2021
8,9,Sony,84.893,"109,700",773.86508,"Tokyo, Japan",2021
9,10,Hitachi,82.345,"350,864",234.69207,"Tokyo, Japan",2021
10,11,Intel,77.867,"110,600",704.04159,"Santa Clara, California, US",2021
11,12,IBM,73.620,"364,800",201.80921,"Armonk, New York, US",2021
12,13,Tencent,69.864,"85,858",813.71567,"Shenzhen, China",2021
13,14,Panasonic,63.191,"243,540",259.46867,"Osaka, Japan",2021
14,15,Lenovo,60.742,"71,500",849.53846,"Hong Kong, China[4]",2021
15,16,HP Inc.,56.639,"53,000",1068.66037,"Palo Alto, California, US",2021
16,17,LG Electronics,53.625,"75,000",715.00000,"Seoul, South Korea",2021
0,1,Apple,260.174,"137,000",1899.08029,"Cupertino, California, US",2020
1,2,Samsung Electronics,197.705,"287,439",687.81550,"Suwon, South Korea",2020
2,3,Foxconn,178.869,"757,404",236.16062,"New Taipei City, Taiwan",2020
3,4,Alphabet,161.857,"118,899",1361.29824,"Mountain View, California, US",2020
4,5,Microsoft,125.843,"144,000",873.90972,"Redmond, Washington, US",2020
5,6,Huawei,124.316,"194,000",640.80412,"Shenzhen, China",2020
6,7,Dell Technologies,92.154,"165,000",558.50909,"Round Rock, Texas, US",2020
7,8,Hitachi,80.639,"301,056",267.85382,"Tokyo, Japan",2020
8,9,IBM,77.147,"383,056",201.39875,"Armonk, New York, US",2020
9,10,Sony,75.972,"111,700",680.14324,"Tokyo, Japan",2020
10,11,Intel,71.965,"110,800",649.50361,"Santa Clara, California, US",2020
11,12,Meta,70.697,"44,942",1573.07195,"Menlo Park, California, US",2020
12,13,Panasonic,68.897,"259,385",265.61674,"Osaka, Japan",2020
13,14,HP Inc.,58.756,"56,000",1049.21428,"Palo Alto, California, US",2020
14,15,Tencent,54.613,"62,885",868.45829,"Shenzhen, China",2020
15,16,LG Electronics,53.464,"74,000",722.48648,"Seoul, South Korea",2020
16,17,Cisco,51.904,"75,900",683.84716,"San Jose, California, US",2020
17,18,Lenovo,50.716,"63,000",805.01587,"Hong Kong, China[4]",2020
0,1,Apple,265.595,"132,000",2012.08333,"Cupertino, California, US",2019
1,2,Samsung Electronics,197.700,"309,630",638.50402,"Suwon, South Korea",2019
2,3,Foxconn,175.617,"667,680",263.02570,"New Taipei City, Taiwan",2019
3,4,Alphabet,136.819,"98,771",1385.21428,"Mountain View, California, US",2019
4,5,Microsoft,110.360,"131,000",842.44274,"Redmond, Washington, US",2019
5,6,Huawei,109.030,"188,000",579.94680,"Shenzhen, China",2019
6,7,Dell Technologies,90.621,"157,000",577.20382,"Round Rock, Texas, US",2019
7,8,Hitachi,85.507,"295,941",288.93259,"Tokyo, Japan",2019
8,9,IBM,79.591,"381,100",208.84544,"Armonk, New York, US",2019
9,10,Sony,78.157,"114,400",683.19055,"Tokyo, Japan",2019
10,11,Panasonic,72.178,"271,869",265.48815,"Osaka, Japan",2019
11,12,Intel,70.848,"107,400",659.66480,"Santa Clara, California, US",2019
12,13,HP Inc.,58.472,"55,000",1063.12727,"Palo Alto, California, US",2019
13,14,Meta,55.838,"35,587",1569.05611,"Menlo Park, California, US",2019
14,15,LG Electronics,55.757,"72,600",768.00275,"Seoul, South Korea",2019
15,16,Lenovo,51.037,"57,000",895.38596,"Hong Kong, China[4]",2019

In [ ]:
data.to_excel('combined_table.xlsx' , index = False)

In [ ]:
d = pd.read_excel('/content/final_result.xlsx')

In [ ]:
d.head()

,Rank,Company,Revenue,Employees,Revenue per employee,Headquarters,year
0,1,Apple,383.930,"147,000",1867.44897,"Cupertino, California, US",2021
1,2,Samsung Electronics,200.734,"267,937",749.18357,"Suwon, South Korea",2021
2,3,Alphabet,182.527,"135,301",1349.04398,"Mountain View, California, US",2021
3,4,Foxconn,181.945,"878,429",207.12544,"New Taipei City, Taiwan",2021
4,5,Microsoft,143.015,"163,000",877.39263,"Redmond, Washington, US",2021